<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:edit_specification_category) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'icon-arrow-left', t(:back_to_specification_categories_list), admin_specification_categories_path, :class => 'button' %></li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @specification_category } %>

<%= form_for @specification_category, :url => admin_specification_category_path, :method => :put do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
