<% content_for :page_actions do %>
  <li><%= button_link_to t(:back_to_providers_list), main_app.admin_providers_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product } %>

<%= form_for @provider, :url => main_app.admin_provider_path, :method => :put, :html => { :multipart => true } do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
