<% content_for :page_title do %>
  <%= Spree.t(:new_provider) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_providers_list), admin_providers_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @provider } %>

<%= form_for @provider, :url => admin_providers_path do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
